* {
    box-sizing: border-box;
    margin: 0;
}

/* Header section */
header {
  padding: 20px;
  text-align: center;
}

.anchor-noDecorations {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* Timer Section*/
.timerDiv {
  text-align: left;
}

/* Quiz Section */

.quizSection {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-top: 1%;
}

.question {
  padding-top: 1%;
  font-weight: bold;
}

.answers {
  padding-top: 1%;
}

#startScreen {
  font-size: 25px;
}

input[type=button], input[type=submit], button {
  background-color: purple;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 12px;
}

input[type=button]:hover {
  cursor: pointer;
}